lib/model/amazon/xsd/AmazonACES.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

   AmazonACES XSD Version 1.0
    derived from AAIA ACES Document Type Definition as specified in
    ACES Delivery Specifications Version 1.07 Revised: 08/18/2004

   This file is intended to be included by amznenvelope.xsd.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="AmazonApp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ManufacturerName">
					<xsd:annotation>
						<xsd:documentation>
                                        Manufacurer Name  Use temporary name if not in table, and submit request to AAIA to add to table.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="60"/>
							<xsd:minLength value="0"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:choice>
					<xsd:sequence>
						<xsd:element ref="BaseVehicle"/>
						<xsd:element ref="SubModel" minOccurs="0"/>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element ref="Years"/>
						<xsd:element ref="Make"/>
						<xsd:element ref="VehicleType" minOccurs="0"/>
						<xsd:sequence minOccurs="0">
							<xsd:element ref="Model"/>
							<xsd:element ref="SubModel" minOccurs="0"/>
						</xsd:sequence>
					</xsd:sequence>
				</xsd:choice>
				<xsd:element ref="MfrBodyCode" minOccurs="0"/>
				<xsd:element ref="BodyNumDoors" minOccurs="0"/>
				<xsd:element ref="BodyType" minOccurs="0"/>
				<xsd:element ref="DriveType" minOccurs="0"/>
				<xsd:element ref="EngineBase" minOccurs="0"/>
				<xsd:element ref="EngineDesignation" minOccurs="0"/>
				<xsd:element ref="EngineVIN" minOccurs="0"/>
				<xsd:element ref="EngineVersion" minOccurs="0"/>
				<xsd:element ref="EngineMfr" minOccurs="0"/>
				<xsd:element ref="FuelDeliveryType" minOccurs="0"/>
				<xsd:element ref="FuelDeliverySubType" minOccurs="0"/>
				<xsd:element ref="FuelSystemControlType" minOccurs="0"/>
				<xsd:element ref="FuelSystemDesign" minOccurs="0"/>
				<xsd:element ref="Aspiration" minOccurs="0"/>
				<xsd:element ref="CylinderHeadType" minOccurs="0"/>
				<xsd:element ref="FuelType" minOccurs="0"/>
				<xsd:element ref="IgnitionSystemType" minOccurs="0"/>
				<xsd:element ref="TransmissionMfrCode" minOccurs="0"/>
				<xsd:choice minOccurs="0">
					<xsd:element ref="TransmissionBase"/>
					<xsd:sequence>
						<xsd:element ref="TransmissionType" minOccurs="0"/>
						<xsd:element ref="TransmissionControlType" minOccurs="0"/>
						<xsd:element ref="TransmissionNumSpeeds" minOccurs="0"/>
					</xsd:sequence>
				</xsd:choice>
				<xsd:element ref="TransmissionMfr" minOccurs="0"/>
				<xsd:element ref="TransferCaseBase" minOccurs="0"/>
				<xsd:element ref="TransferCase" minOccurs="0"/>
				<xsd:element ref="TransfercaseMfr" minOccurs="0"/>
				<xsd:element ref="BedLength" minOccurs="0"/>
				<xsd:element ref="BedType" minOccurs="0"/>
				<xsd:element ref="WheelBase" minOccurs="0"/>
				<xsd:element ref="BrakeSystem" minOccurs="0"/>
				<xsd:element ref="FrontBrakeType" minOccurs="0"/>
				<xsd:element ref="RearBrakeType" minOccurs="0"/>
				<xsd:element ref="BrakeABS" minOccurs="0"/>
				<xsd:element ref="FrontSpringType" minOccurs="0"/>
				<xsd:element ref="RearSpringType" minOccurs="0"/>
				<xsd:element ref="SteeringSystem" minOccurs="0"/>
				<xsd:element ref="SteeringType" minOccurs="0"/>
				<xsd:element ref="RestraintType" minOccurs="0"/>
				<xsd:element ref="Region" minOccurs="0"/>
				<xsd:element ref="Note" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Qty"/>
				<xsd:element ref="PartType"/>
				<xsd:element ref="MfrLabel" minOccurs="0"/>
				<xsd:element ref="Position" minOccurs="0"/>
				<xsd:element ref="Part"/>
				<xsd:element ref="DisplayOrder" minOccurs="0"/>
				<xsd:element name="acesid" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="action" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="D"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="id" type="xsd:string" use="required"/>
			<xsd:attribute name="vcdb_version" type="xsd:string"/>
			<xsd:attribute name="sku" type="xsd:string" use="required"/>
			<xsd:attribute name="ref" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<!-- AmazonApp -->
	<xsd:element name="Aspiration">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BaseVehicle">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string" use="required"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BedLength">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BedType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BodyNumDoors">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BodyType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BrakeABS">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BrakeSystem">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CylinderHeadType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DisplayOrder" type="xsd:string"/>
	<xsd:element name="DriveType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EngineBase">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EngineDesignation">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EngineMfr">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EngineVIN">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EngineVersion">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<!--	<xsd:element name="Footer">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="RecordCount"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element> -->
	<xsd:element name="FrontBrakeType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FrontSpringType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FuelDeliverySubType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FuelDeliveryType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FuelSystemControlType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FuelSystemDesign">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FuelType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<!--	<xsd:element name="Header">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DocumentVersion"/>
				<xsd:element ref="MerchantIdentifier"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element> -->
	<xsd:element name="IgnitionSystemType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Make">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MfrBodyCode">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MfrCode" type="xsd:string"/>
	<xsd:element name="MfrLabel">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Model">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Note">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
					<xsd:attribute name="lang">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="en"/>
								<xsd:enumeration value="fr"/>
								<xsd:enumeration value="sp"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Part">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PartType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string" use="required"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Position">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string" use="required"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Qty" type="xsd:string"/>
	<xsd:element name="RearBrakeType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RearSpringType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Region">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RestraintType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SteeringSystem">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SteeringType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SubModel">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TransferCase">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TransferCaseBase">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TransferCaseMfr">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TransfercaseMfr">
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="TransmissionBase">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TransmissionControlType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TransmissionMfr">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TransmissionMfrCode">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TransmissionNumSpeeds">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TransmissionType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VehicleType">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="WheelBase">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="id" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Years">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="from" type="xsd:string" use="required"/>
					<xsd:attribute name="to" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>

